<header>
    <nav class="nav nav-top">
        <ul class="nav-list nav-left">
            <li><h1><img src="images/conticelloCorp.png" alt="company-logo" href="company.html" class="contiImg logo align"></h1></li>
            <li><a class="logo align" href="company.html">Conticello Corp.</a></li>
        </ul>
        <ul class="nav-list nav-right">
            <li><a class="page-link" href="about.html">About</a></li>
            <li><a class="page-link" href="services.html">Services</a></li>
        </ul>
    </nav>
</header>

