/* main Styles */
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    flex: 1;
    background-color: darkgrey;
}
/* container styles */
.div{
    display: flex;
    margin: auto;
    width: 600px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.291);
}
.block{
    display: block;
    margin: auto;
    width: 40%;
    height: 60%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.291);
}
.block-fit{
    display: block;
    margin: auto;
    width: 40%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.291);
}
.flex{
    justify-content: center;
    align-items: center;
}
.container{
    display: block;
    margin: auto;
    width: 60%;
}
hr{
    margin: 0;
    border: 0;
    border-bottom: 1.5px solid black;
    color: black;
}
.half-div{
    border:0;
    border-bottom:1.5px solid black;
    color: black;
    width: 750px;
    margin: auto;
}
.quarter-div{
    border:0;
    border-bottom:1.5px solid black;
    color: black;
    width: 325px;
    margin: auto;
}
.clear{
    background-color: transparent;
}

/* Media Queries */
@media screen and (max-width: 768px){
    .block{
        width: 80%;
        height: 80%;
    }
    .container{
        width: 80%;
    }
    .half-div{
        width: 80%;
    }
}
@media screen and (max-width: 850px){
    .hide{
        display: none;
    }
}
/* Padding */
.padding{
    padding: 20px;
    
}

.margin{
margin-bottom: 20px;
}

/* ALIGNMENT */
.center{
    text-align: center;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text formatting */
.text-format1{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.text-format2{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
/* BYO */
.byo-form{
    padding: 0 16px 20px 16px;
}
.byo-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.spacing{
    margin: 20px auto;
}

/* header | footer */
.nav{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-top{
    background-color:#a55d5d;
    justify-content: space-between;
}
.nav-bottom{
    background-color:#a55d5d;
    justify-content: center;
}
.nav-list{
    padding:0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-left{
    padding-left: 10px;
    justify-content: center;
}
.nav-right{
    padding: 10px;
    justify-content: flex-end;
    word-break: keep-all;
}
.page-link{
    font-size: 12px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.page-link:hover{
    color: #fff;
}
.logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}
.logo:hover{
    color: #000;
}

/* Tables */
.table-box{
	align-content: center;
	padding: 30px 200px 50px 200px;
	margin: 0;
	border: 2.5px solid #000000;
	display: table;
	box-shadow: 6px 6px 10px #000000;
}
main{
	flex: 1 0 auto;
}
table{
	margin: 0 auto;
	border: 2px solid #000000;
	border-collapse: collapse;
	box-shadow: 6px 6px 10px #000000;
}
 th{
	border: 2px solid #000000;
	padding: 5px;
	background-color: #000000;
	color: white;
}
td{
	border: 2px solid #000000;
	padding: 5px;
}
tr:nth-child(even){
	background-color: #FFFFFF;
	color: black;
}
tr:nth-child(odd){
	background-color: grey;
	color:black;
}
#tables-page main h3{
	background-color: white;
	max-width: 320px;
	text-align:center;
	margin: 0 auto;
	padding: 8px;
	border: 3px solid #000000;
	box-shadow: 6px 6px 10px #000000;
}
.data{
    background-color: #000;
    padding: 15px;
    color: #fff;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}


/* GAME CSS */
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  #button1,#button2,#button3{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  .contiImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* Forms */
.formSubmit{
    background-color:darkgreen;
    color: white;
}
.formReset{
    background-color:darkred;
    color: white;
}

