<header>
    <nav class="nav nav-top">
        <ul class="nav-list nav-left">
            <li><a class="logo align" href="../index.html">Fcontice</a></li>
        </ul>
        <ul class="nav-list nav-right">
            <li><a class="page-link" href="../index.html">Home</a></li>
            <!-- <li class="dropdown"><a class="page-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">Assignments</a>
                <ul class="dropdown-menu"> -->
                    <li><a class="page-link" href="course.html">ITIS-3135</a></li>
                    <li><a class="page-link hide" href="contract.html">Contract</a></li>
                    <li><a class="page-link hide" href="introduction.html">Introduction</a></li>
                    <li><a class="page-link hide" href="tables.html">Tables</a></li>
                    <li><a class="page-link hide" href="forms.html">Forms</a></li>
                   <!-- <li><a class="page-link hide" href="website_evaluations.html">CRAP Evaluation</a></li>
                    <li><a class="page-link hide" target="_blank" href="stuff/CR@PPy W3b$1T3.htm">CRAPPY Site</a></li>
                    <li><a class="page-link hide" href="firstscripts.html">First JS Script</a></li>
                    <li><a class="page-link hide" href="client-project/index.html">Client Project</a></li>
                    <li><a class="page-link hide" href="byo_intro.html">BYO Intro</a></li>
                    <li><a class="page-link hide" href="calculator-try.html">Calculator Try</a></li>
                    <li><a class="page-link hide" href="calculator-FCC.html">Calculator Try</a></li>
                    <li><a class="page-link hide" href="hobby/index.html">MIDTERM</a></li>
                    <li><a class="page-link hide" href="client-project/peer-review1.html">Peer Review 1</a></li>
                    <li><a class="page-link hide" href="client-project/peer-review2.html">Peer Review 2</a></li>
                    <li><a class="page-link hide" href="arrays.html">Arrays</a></li>
                    <li><a class="page-link hide" href="interactive-drawing.html">Interactive Drawing</a></li>
                    <li><a class="page-link hide" href="slideshow.html">Slideshow</a></li> -->
                <!-- </ul>
            </li> -->
        </ul>
    </nav>
</header>
<hr>