<header>
    <nav class="nav nav-top">
        <ul class="nav-list nav-left">
            <li><a class="logo align" href="../index.html">Fcontice</a></li>
        </ul>
        <ul class="nav-list nav-right">
            <li><a class="page-link" href="../index.html">Home</a></li>
                    <li><a class="page-link" href="course.html">ITIS-3135</a></li>
                    <li><a class="page-link hide" href="contract.html">Contract</a></li>
                    <li><a class="page-link hide" href="introduction.html">Introduction</a></li>
                    <li><a class="page-link hide" href="tables.html">Tables</a></li>
                    <li><a class="page-link hide" href="forms.html">Forms</a></li>
                    <li><a class="page-link hide" href="website_evaluations.html">Website Evaluations</a></li>
                    <li><a class="page-link hide" href="stuff/CR@PPy W3b$1T3.htm">CR@PPy W3b$1T3</a></li>
                    <li><a clas="page-link hide" href="firstscripts.html"></a></li>
               
        </ul>
    </nav>
</header>
<hr>