<header>
    <nav class="nav nav-top">
        <ul class="nav-list nav-left">
            <li><a class="logo align" href="index.html">Fcontice</a></li>
        </ul>
        <ul class="nav-list nav-right">
            <li><a class="page-link" href="index.html">Home</a></li>
            <li><a class="page-link" href="itis3135/course.html">ITIS-3135</a></li>
            <li><a href="itis3135/conticellocorp.co/company.html" class="page-link">Conticello Corp.</a></li>
        </ul>
    </nav>
</header>
<hr>